.mainContainer {
    max-width: 1178px;
    margin: 0 auto;
}
.centerBlock {
    margin: 0 auto;
}

.mainProfile {
    width: 100%;
    padding: 0 0 70px;
}

.profileSellContent {
    width: 100%;
}

.profileContent {
    max-width: 834px;
}

.headingSeller,
.heading {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 30px;
}

.profileTitle,
.mainTitle {
    font-size: 32px;
    line-height: 70px;
    font-weight: 500;
    color: #000000;
}

.profileTitle {
    margin-bottom: 20px;
}

.mainTitle {
    margin-bottom: 30px;
}

.profilePersonal,
.profileSeller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
}

.profileSeller {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.profilePersonal {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 890px) {
    .mainContainer {
        padding: 85px 0px 84px;
    }
    .profileSellContent {
        max-width: 834px;
        width: 100%;
    }

    .profileContent {
        max-width: 834px;
        width: 100%;
    }

    .profilePersonal {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .profileSeller {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 620px) {
    .mainProfile {
        width: 100%;
        padding: 0 0 40px;
    }
}
@media screen and (max-width: 580px) {
    .centerBlock {
        margin: 0 auto;
        padding: 0 20px;
    }

    .profileSellContent {
        max-width: 100%;
        width: 100%;
    }

    .profileSeller {
        /* -ms-flex-wrap: wrap;
        flex-wrap: wrap; */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .headingSeller,
    .heading {
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 20px;
    }
    .headingSeller {
        padding: 0 0 0 26px;
        position: relative;
        cursor: pointer;
    }

    .headingSeller::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border-top: 2px solid #000000;
        border-left: 2px solid #000000;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 9px;
        left: 0;
    }

    .headingSeller:hover::before {
        border-top: 2px solid #0080c1;
        border-left: 2px solid #0080c1;
    }
}
