.formComments {
    padding: 20px 50px;
}
.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.addCommentAuth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}
.addComment {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 220%;
}
.textarea {
    font-family: 'Roboto', sans-serif;
    padding: 10px 19px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    min-height: 100px;
}
.textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.3);
}

.ulAuth {
    height: 300px;
    overflow-y: auto;
}
.ul {
    height: 500px;
    overflow-y: auto;
}
.listComments {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.titleComment,
.name {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
}
.name span {
    color: #5f5f5f;
    font-weight: 400;
}
.textComment {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    min-height: 48px;
}
