.modalFormLogin {
    background-color: #ffffff;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 43px 47px 47px 40px;
}

.wrapperInput {
    width: 100%;
    height: auto;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 38px;
}

.logo {
    width: 140px;
    height: 21px;
    margin-bottom: 34px;
    background-color: transparent;
}

.logo img {
    width: 140px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .modalFormLogin {
        width: 320px;
        height: auto;
        background-color: #ffffff;
        border-radius: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 40px 20px;
    }

    .wrapperInput {
        gap: 14px;
    }

    .logo {
        width: 120px;
        height: 18px;
        margin-bottom: 30px;
        background-color: transparent;
        cursor: pointer;
    }
    .logo img {
        width: 120px;
        height: auto;
    }
}

@media screen and (max-width: 580px) {
    .modalFormLogin {
        background-color: #f4f5f6;
    }
}
